
/*-----------------------------------------------------------------*/

.map_changeSelection_container{
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--background_1);

    min-width: 9vw;

    display: flex;
    flex-direction: column;

    z-index: var(--map_selection_container_z);


}










.map_changeSelection_current{
    display: flex;
    background-color: var(--background_1);
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.map_changeSelection_current{
    padding-left: 0.3vw;
}

.map_changeSelection_current button{
    width: 1.2vw;
    height: 1.2vw;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 0.2vw;
    padding: 0.2vw;
    border-radius: 50%;
    cursor: pointer;
}
.map_changeSelection_current button:hover{
    background-color: var(--onHover_background);
}

.map_changeSelection_current button:active svg path{
    fill: var(--logo_white);
}






.map_changeSelection_options{
    display: flex;
    flex-direction: column;
}




.map_changeSelection_options button{
    color: var(--logo_white);
    width: 100%;
    cursor: pointer;
}
.map_changeSelection_options button:hover{
    background-color: var(--logo_yellow);
    color: var(--logo_black);
}



/*-----------------------------------------------------------------*/













@media (max-width: 900px) {/*for mobile view*/
    .map_changeSelection_current button{
        width: 2vw;
        height: 2vw;
    }
}
