



.map_changer_container{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--background_1);
    padding: 0.5vw;
    gap: 0.5vw;
    border-radius: 0 0 0.7vw 0;
    align-items: center;
    
}

.map_changer_container button{
    width: 1.3vw;
    height: 1.3vw;
    cursor: pointer;
    padding: 0.1vw;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.map_changer_container button:hover, .map_changer_container button:hover{
    background-color: var(--onHover_background);
}

.map_changer_container button:active svg g, .map_changer_container button:active svg g{
    fill: var(--logo_white);
}





@media (max-width: 900px) {/*for mobile view*/
    .map_changer_container button{
        width: 2vw;
        height: 2vw;
    }
}
