.target_canvas{
    width: 100%;

    background-size: contain;
    border-radius: 0.3vw;
    margin-top: 0.4vw;
    margin-bottom: 0.6vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background_1);
    aspect-ratio: 1/1;
    
}


.target_drawing_buttons_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;

}


.target_drawing_button{
    background-color: var(--logo_yellow);
    padding-inline: 1vw;
    font-weight: bold;
    border-radius: 0.2vw;
    cursor: pointer;
    opacity: 0.8;
    margin-inline: 0.5vw;

    

}
.target_drawing_button:hover{
    outline: 0.2vw solid var(--logo_white);
    opacity: 1;
}


.target_drawing_button:active{
    background-color: var(--logo_white);
}