



/*minimap button section CSS*/
.navigation_button_set{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0.6vw;
    bottom: 4vh;
    padding-inline: 0.7vw;
    
    background: var(--background_1);

    box-shadow: var(--boxShadow_1);
    backdrop-filter: blur(var(--blur_factor));
    -webkit-backdrop-filter: blur(var(--blur_factor));
    opacity: 0.9;
    transition: opacity 0.3s ease;

    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 2vw 2vw 0 2vw;

    z-index: 3;
}
.navigation_button_set:hover{
    opacity: 1;
}


.navigation_button{
    border: none;

    
    width: 2vw;
    height: 2vw;

    margin-block: 1vw;
    
    background-color: var(--button_background);
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.navigation_button:hover{
    opacity: 1;
}

.button_disabled{
    opacity: 0.3;
    filter: grayscale(0.6)
}
.button_selected{
    outline: 0.2vw solid white;
    opacity: 1;
}










