



/*minimap button section CSS*/
.navigation_button_set{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0.6vw;
    bottom: 4vh;
    padding-inline: 0.7vw;
    
    background: rgba(38, 38, 38, 0.76);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3px);
    opacity: 0.9;
    transition: opacity 0.3s ease;

    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 2vw 2vw 0 2vw;

    z-index: 3;
}
.navigation_button_set:hover{
    opacity: 1;
}


.navigation_button{
    border: none;

    
    width: 2vw;
    height: 2vw;

    margin-block: 1vw;
    
    background-color: rgba(7, 7, 7, 0.87);
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.navigation_button:hover{
    opacity: 1;
}

.button_disabled{
    opacity: 0.3;
    cursor: not-allowed;
    filter: grayscale(0.6)
}












/*targets stuff CSS*/
.target_icons_set{
    position: fixed;
    left: 0;
    top: 0.5vh;

    width: 24vw;
    height: 8vw;
    background: rgba(38, 38, 38, 0.76);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
    -webkit-backdrop-filter: blur(3px);
    opacity: 0.9;
    transition: opacity 0.3s ease, transform 0.7s ease;

    border-radius: 0 1.5vw 1.5vw 0;

    z-index: 5;
}
.target_icons_set:hover{
    opacity: 1;
}









.target_icons_row{
    display: flex;
    height: 100%;
}


.target_set{
    width: 75%;
    height: 100%;
}


.target_set div{
    height: 50%;
    width: 100%;
    display: flex;
    gap: 0.7vw;
    justify-content: center;
    align-items: center;

}


.target_button{
    border: none;
    
    width: 2vw;
    height: 2vw;

    margin-block: 1vw;
    
    background-color: rgba(7, 7, 7, 0.87);
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.target_button:hover{
    opacity: 1;
}







.switch_buttons{
    width: 15%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.switch_buttons .target_button svg path{
    fill: var(--logo_white);
}










.chevron_button_container{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.chevron_button{
    width: 100%;
    height: 100%;
    border-radius: 0 1.5vw 1.5vw 0;
    background: rgba(38, 38, 38, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    cursor: pointer;

}
.chevron_svg{
    max-width: 65%;
    max-height: 65%;
    transition: transform 0.7s ease;
    transform: rotate(180);

}

.chevron_fill{
    fill: var(--logo_white);
    opacity: 0.9;
}
.chevron_fill_2{
    fill: var(--logo_white);
    transition: opacity 0.3s ease;
    opacity: 0.8;
}
.target_button_container_button:hover .chevron_fill_2, .target_button_container_button:hover .chevron_fill{
    opacity: 1;
}