



.distance_setter{
    width: 458px;
    position: fixed;
    top: 0;
    right: 1.8vw;
    background-color: var(--background_2);
    justify-content: flex-end;
    display: flex;
    font-size: 14px;
    z-index: var(--distance_calc_container_z);

}
#distance_input{
    background-color: rgba(7, 7, 7, 0.70);
    color: var(--logo_white);
    border: none;
    width: 50px;
    padding-inline: 5px;
    text-align: center;

    
}
#distance_input:focus{    
    border: none;
    outline: none;
    
}