.mapDraw_positioning{
    position: fixed;
    right: 1.5%;
    bottom: 3%;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 1vw;

}

.mapDraw_container{


    opacity: 0.9;


    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 2vw;

    background: var(--background_1);
    

    box-shadow: var(--boxShadow_1);
    backdrop-filter: blur(var(--blur_factor));
    -webkit-backdrop-filter: blur(var(--blur_factor));
    transition: opacity 0.3s ease, transform 0.8s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-inline: 1vw;
    padding-block: 0.5vw;

    gap: 0.5vw;

    z-index: var(--colorSelect_container_z);


}

.mapDraw_container:hover{
    opacity: 1;
}

.mapdraw_representation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    width: 100%;
}

.mapdraw_thickness_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5vw;
}
.increment_color_customization{
    margin-inline: 0.2vw;
}

.map_colorSelect_button{
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
    cursor: pointer;
    
}





.colorPicker{

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    
    
}







.picker-wrapper .react-colorful {
    width: 100%;
    height: 100%;
    gap: 0.5vw;
}

.picker-wrapper .react-colorful__saturation-pointer,
.picker-wrapper .react-colorful__hue-pointer,
.picker-wrapper .react-colorful__alpha-pointer {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  border-width: 0.2vw;
  cursor: pointer;
}

.picker-wrapper .react-colorful__saturation{
    border-radius: 1vw;
    width: 12vw;
    height: 12vw;

}

.picker-wrapper .react-colorful__hue{
    border-radius: 1vw;
    height: 2vw;
}

.picker-wrapper .react-colorful__alpha{
    border-radius: 1vw;
    height: 2vw;
}




.map_colorSelect_done{
    background-color: var(--logo_yellow);
    margin-block: 0.7vw;
    font-weight: bold;
    width: 100%;
    padding-block: 0.1vw;
    border-radius: 0.4vw;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.map_colorSelect_done:hover{
    outline: 0.2vw solid var(--logo_white);
    opacity: 1;
}






.mapDraw2_container{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1vw;

    border-radius: 2vw;

    background: var(--background_1);
    
    

    box-shadow: var(--boxShadow_1);
    backdrop-filter: blur(var(--blur_factor));
    -webkit-backdrop-filter: blur(var(--blur_factor));
    transition: opacity 0.3s ease, transform 0.8s ease;
    padding-inline: 1.2vw;
    padding-block: 0.4vw;
    width: fit-content;
    height: fit-content;

    opacity: 0.9;
}
.mapDraw2_container:hover{
    opacity: 1;
}




.eraser_button, .createText_button{
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

