.home_container{
    
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: black;
}





.logo_container{
    padding-left: 5vw;
    padding-top: 15vw;
    padding-bottom:15vw;
    padding-right: 15vw;
    background-color: var(--logo_yellow);
    transform: rotate(45deg) translateX(-26vw) translateY(-2vw);
    position: absolute;
    top:0;
    left:0;
    z-index: 3;
    box-shadow: 0vw 0vw 3vw 0vw rgba(0,0,0,0.61);
    
}

.logo{
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    transform: rotate(-45deg) translate(11vw,8vw);

}



.home_start_container{
    position: absolute;
    bottom:0;
    left:0;
    z-index: 2;

    width: 100vw;
    height: 100vw;
    background-color: #ffc90e;
    transform: rotate(50deg) translate(0vw, 86vw);

    display: flex;
    justify-content: center;

    transition: opacity 0.4s ease;
    opacity: 0.7;
    

}

.home_start_container:hover{
    opacity: 1;
}


.home_start_container a{
    background-color: var(--button_background);
    height: fit-content;

    transform: rotate(-50deg) translateY(18vw) translateX(-5vw);
    text-decoration: none;
    color: var(--logo_white);
    padding-block: 0.5vw;
    padding-inline: 5.5vw;
    font-size: 3vw;
    border-radius: 0.5vw;
    outline: 0.3vw solid transparent;
    

    
}

.home_start_container a:hover{
    outline-color: var(--logo_white);
}











.home_background_img_1, .home_background_img_2, .home_background_img_3, .home_background_img_4, .home_background_img_5, .home_background_img_6, .home_background_img_7{
    width: 100%;
    height: 100%;

    background-image: url(/home_img/heink.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;




    /*
    background-color: #000000;
    background-blend-mode:luminosity;
    */
}


.home_background_img_2{
    background-image: url(/home_img/nieup.jpg);
}
.home_background_img_3{
    background-image: url(/home_img/yak.jpg);
}
.home_background_img_4{
    background-image: url(/home_img/ww1.jpg);
}
.home_background_img_5{
    background-image: url(/home_img/a20.jpg);
}
.home_background_img_6{
    background-image: url(/home_img/ta152.jpg);
}
.home_background_img_7{
    background-image: url(/home_img/fw190.jpg);
}

.home_background_img_1{
    animation: fade1 65s infinite;
}

.home_background_img_2{
    animation: fade2 65s infinite;
}

.home_background_img_3{
    animation: fade3 65s infinite;
}

.home_background_img_4{
    animation: fade4 65s infinite;
}

.home_background_img_5{
    animation: fade5 65s infinite;
}

.home_background_img_6{
    animation: fade6 65s infinite;
}

.home_background_img_7{
    animation: fade7 65s infinite;
}


@keyframes fade1 {
    0% { opacity: 0; }
    2% { opacity: 1; }
    12.28% { opacity: 1; }
    14.28% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade2 {
    0% { opacity: 0; }
    12.28% { opacity: 0; }
    14.28% { opacity: 1; }
    26.57% { opacity: 1; }
    28.57% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade3 {
    0% { opacity: 0; }
    26.57% { opacity: 0; }
    28.57% { opacity: 1; }
    40.86% { opacity: 1; }
    42.86% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade4 {
    0% { opacity: 0; }
    40.86% { opacity: 0; }
    42.86% { opacity: 1; }
    55.15% { opacity: 1; }
    57.15% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade5 {
    0% { opacity: 0; }
    55.14% { opacity: 0; }
    57.14% { opacity: 1; }
    69.44% { opacity: 1; }
    71.44% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade6 {
    0% { opacity: 0; }
    69.43% { opacity: 0; }
    71.43% { opacity: 1; }
    83.73% { opacity: 1; }
    85.73% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade7 {
    0% { opacity: 0; }
    83.72% { opacity: 0; }
    85.72% { opacity: 1; }
    99% { opacity: 1; }
    100% { opacity: 0; }
}




/*
    map: map choice, pamphlet, distance number

    navigation: the 4 points. clear. information button

    upload/download: download and upload

    drawing: drawing on map and target

*/




.home_content_container{
    width: 60vw;
    height: 14vw;
    padding-inline: 0.7vw;
    padding-block: 0.7vw;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    border-radius: 0 0 0 1vw;

    background: var(--background_1);

    backdrop-filter: blur(var(--blur_factor));
    -webkit-backdrop-filter: blur(var(--blur_factor));


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.home_info_sect{
    width: 25%;
    height: 100%;
    background-color: var(--background_2);
    border-radius: 0.2vw;
    padding: 0.5vw;
}
.home_info_sect_title{
    text-decoration: underline;
}

.home_help_sect{
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /*background-color: rgba(255, 0, 0, 0.45);*/
    height: 88%;
}




/**/
.tooltip_needed{
    position: relative;
}
.tooltip_text{
    visibility: visible;
    width: fit-content;
    background-color: var(--button_background);
    color: var(--logo_white);
    text-align: center;
    border-radius: 0.3vw;
    padding-block: 0.2vw;
    padding-inline: 0.5vw;
    width: 15vw;

    z-index: 1;

    pointer-events: none;

    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.4s ease;
    font-size: 0.8vw;
}

.tooltip_text::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -0.5vw;
    border-width: 0.5vw;
    border-style: solid;
    border-color: transparent transparent var(--button_background) transparent;
}
.tooltip_needed:hover .tooltip_text{
    opacity: 1;
    transition: opacity 0.15s ease;
}














.home_mapSelect_sect{
    background-color: rgba(7, 7, 7, 0.47);
    width: 100%;
    display: flex;
    justify-content: space-between;
    outline: 0.2vw solid transparent;
    padding-inline: 0.3vw;
    align-items: center;
}
.home_mapSelect_sect:hover{
    outline-color: var(--logo_white);
}
.home_mapSelect_sect p {
    user-select: none;
}



.home_numberSetter{
    background-color: rgba(38, 38, 38, 0.493);
    width: 100%;
    display: flex;
    justify-content: right;
    outline: 0.2vw solid transparent;
}
.home_numberSetter:hover{
    outline-color: var(--logo_white);
}

.home_numberSetter p{
    width: fit-content;
    padding-inline: 0.5vw;
    background-color: rgba(7, 7, 7, 0.47);
    user-select: none;
}


.home_icon{
    width: 2vw;
    height: 2vw;
    background-color: var(--button_background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0.2vw solid transparent;
}
.home_icon:hover{
    outline-color: var(--logo_white);
}














.home_icon_row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

.home_drawing_row{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2vw;
    padding-block: 0.3vw;

    background-color: rgba(38, 38, 38, 0.493);
    outline: 0.2vw solid transparent;

}
.home_drawing_row:hover{
    outline-color: var(--logo_white);
}







.home_mapdraw_thickness_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_mapdraw_thickness_container p{
    width: 1.8vw;
    text-align: center;
    font-weight: bold;
    user-select: none;
}

.home_left_increment{
    width: 1.5vw;
    height: 1.5vw;
    transform: rotate(180deg);
    margin-inline: 0.3vw;
    border-radius: 50%;
    padding: 0.1vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home_right_increment{
    width: 1.6vw;
    height: 1.6vw;
    margin-inline: 0.3vw;
    border-radius: 50%;
    padding: 0.1vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home_left_increment svg g, .home_right_increment svg g{
    fill: var(--logo_yellow);
}



.home_drawCircle{
    width: 1.5vw;
    height: 1.5vw;
    background-color: var(--logo_yellow);
    border-radius: 50%;
    margin-inline: 1vw;
}




.home_erase_and_text_container{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 1vw;
    padding-inline: 1.1vw;
}


.home_drawEraser{
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
    padding: 0.1vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home_comment{
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}






@media (max-width: 900px) {/*for mobile view*/
    .tooltip_text{
        font-size: 1.5vw;
    }
}