.map_background {
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    user-select: none;
    display: block;
}

.map_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-image: url(/Henning_logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size:30%;
    scroll-behavior: smooth;
    background-color: var(--logo_yellow);
}



.map_waypoint_div{
    position: absolute;
    z-index: var(--map_waypoint_z);
    display: flex;

}

.tooltip_waypoint_text{
    visibility: visible;
    width: fit-content;
    background-color: var(--button_background);
    color: var(--logo_white);
    text-align: center;
    border-radius: 0.3vw;
    padding-block: 0.2vw;
    padding-inline: 0.5vw;
    white-space: nowrap;
    

    pointer-events: none;
    user-select: none;

    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip_waypoint_text::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5vw;
    border-width: 0.5vw;
    border-style: solid;
    border-color: var(--button_background) transparent transparent transparent;
}
.tooltip_waypoint_needed:hover .tooltip_waypoint_text{
    opacity: 1;
    transition: opacity 0.4s ease;
}


.map_waypoint_button, .information_waypoint{
    
    border: none;

    width: 1.6vw;
    height: 1.6vw;
    background-color: var(--button_background);
    border-radius: 15%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.2s ease;

    box-shadow: 0 0 0.9vw 0.1vw rgba(0,0,0,0.55);

    
}
.map_waypoint_button:hover, .information_waypoint:hover{
    opacity: 1;
    outline: 0.2vw solid var(--logo_yellow);

    
}

.map_target_button {
    width: 2vw;
    height: 2vw;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.4vw;
    transform: rotate(45deg);
    z-index: var(--map_target_z);
    transition: background-color 0.2s ease;
}
.map_target_svg{
    transform: rotate(-45deg);
}
.target_map_blue_colorSetter{
    background-color: var(--blue_target_background);
}
.target_map_red_colorSetter{
    background-color: var(--red_target_background);
}
.target_map_blue_colorSetter:hover, .target_map_red_colorSetter:hover{
    background-color: var(--button_background);
}



.waypoint_id{
    position: absolute;
    text-shadow:
    0.09vw 0.09vw 0 #1d1d1da9,
    -0.09vw 0.09vw 0 #1d1d1da9,
    -0.09vw -0.09vw 0 #1d1d1da9,
    0.09vw -0.09vw 0 #1d1d1da9;
}



.waypoint_lines_overlay {
    pointer-events: none;
    overflow: visible;

}

.waypoint_lines{
    stroke-width: 0.3vw;
    stroke-opacity: 0.7;
    stroke-dasharray: none;
}




.remove_button{

    margin-left: 0.2vw;
    width: 0.8vw;
    height: 0.8vw;
    color: var(--logo_white);
    background-color: rgba(7, 7, 7, 0.30);
    border: none;
    border-radius: 50%;
    font-size: 0.8vw;
    transition: opacity 0.2s ease;
    opacity: 0.7;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.remove_button:hover{
    opacity: 1;
}



.map_target_div{
    position: absolute;
    z-index: var(--map_waypoint_z);

}
.map_target_div div{
    display: flex;
    position: relative;
}
.target_textfield{
    width: 160%;
    position: absolute;
    top: 120%;
    left: -45%;
    font-size: 0.7vw;
    height: 1vw;
    padding-block: 0.1vw;
    padding-inline: 0.2vw;
    border: none;
    border-radius: 5%;
    outline: 0.2vw solid transparent;
    color: var(--logo_white);
    background-color: var(--background_2);
    text-overflow: ellipsis;
    text-align: center;
}
.target_textfield:focus{
    outline: 0.2vw solid var(--logo_yellow);
}


.map_text_div{
    position: absolute;
    z-index: var(--map_text_z);
    
}
.map_text_div div{
    display: flex;
    position: relative;
}

.map_text_button{
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.map_text_inputField{
    background-color: var(--background_2);
    color: var(--logo_white);
    width: 18vw;
    height: 8vw;
    resize:none;
    padding: 0.3vw;
    outline: 0.3vw solid var(--logo_yellow);
    border-radius: 0.3vw;
    font-size: 1vw;

    transform: translateX(-40%) translateY(-10%);
    border: none;
    scrollbar-color: var(--logo_white) transparent;
    scrollbar-width: thin;
    
}
.map_text_inputField:focus{
    outline: 0.3vw solid var(--logo_yellow);
    background-color: var(--background_1);
}





















.information_container{
    width: 32vw;
    height: 65vh;
    background: var(--background_1);

    box-shadow: var(--boxShadow_1);
    backdrop-filter: blur(var(--blur_factor));
    -webkit-backdrop-filter: blur(var(--blur_factor));
    opacity: 0.9;
    transition: opacity 0.3s ease;
    padding: 1vw;

    position: absolute;
    top:35px;
    right: 2vw;

    border-radius: 1vw;
    z-index: var(--information_container_z);

    overflow: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}
.information_container:hover{
    opacity: 1;
}

.flight_notes{
    width: 100%;
    height: 10vw;
    border-radius: 0.3vw;
    outline: 0.3vw solid transparent;
    border: none;
    margin-top: 0.3vw;
    padding: 0.2vw;
    resize: vertical;
    background-color: var(--logo_white);

}
.flight_notes:focus{
    outline: 0.3vw solid var(--logo_yellow);
}







.information_row_container{
    padding-block: 1.5vw;
    padding-inline: 1vw;
    border-radius: 0.3vw;
}
.information_row_container:hover{
    background-color: var(--background_1);
}

.information_waypoint_row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0.5vw;
}


.information_waypoint{
    opacity: 1;
    cursor: pointer;
    width: 2vw;
    height: 2vw;
}








.waypoint_statistics{
    display: flex;
}

.heading_number{
    margin-left: auto;
}
.distance_marker{
    color:var(--logo_black);
    margin-left: 0.3vw;
    padding-inline: 0.2vw;
    background-color: var(--logo_yellow);
    border-radius: 0.3vw;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.distance_marker:hover{
    outline: 0.2vw solid var(--logo_white);
    opacity: 1;
}
.distance_marker:active{
    background-color: var(--logo_white);;
}



.total_statistics{
    display: flex;
    flex-direction: column;
    border-color: var(--logo_yellow);
    border-width: 0.2vw 0 0 0;
    border-style: solid;
    padding-block: 0.5vw;
    margin-top: 1vw;
}
.total_statistics div{
    display: flex;
    flex-direction: row;
    padding-block: 0.2vw;
}

.total_statistics div p{
    margin-left: 1vw;
}





.calculations_container{
    padding-block: 1vw;
}
.calculations_container .calculation_header_text{
    border-style: solid;
    border-width: 0 0 0.2vw 0;
    border-color: var(--logo_white);
    width: fit-content;
}
.calculations_container div{
    display: flex;
    margin-block: 0.5vw;
    align-items: center;
}
.calculations_container div p{
    padding-right: 0.2vw;
}
.calculations_container div form input{
    background-color: rgba(7, 7, 7, 0.70);
    color: var(--logo_white);
    border: none;
    width: 4vw;
    padding-inline: 0.2vw;
    font-weight: 600;
    padding-block: 0.2vw;
    border-radius: 0.3vw;
    text-align: center;
}
.calculations_container div form input:focus{
    border: none;
    outline: none;
    background-color: rgba(7, 7, 7, 0.70);
}






.left_increment{
    width: 1.6vw;
    height: 1.6vw;
    transform: rotate(180deg);
    margin-inline: 0.5vw;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.1vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.right_increment{
    width: 1.6vw;
    height: 1.6vw;
    margin-inline: 0.5vw;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.1vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
.left_increment svg g, .right_increment svg g{
    fill: var(--logo_yellow);
}

.left_increment:hover, .right_increment:hover{
    background-color: var(--onHover_background);
}

.right_increment:active svg g, .left_increment:active svg g{
    fill: var(--logo_white);
}
















@media (max-width: 900px){
    .information_container{
        height: 70vh;
        top:60px;
        
    }




}