.map_background {
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    user-select: none;
    display: block;
}

.map_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: aquamarine;
    /* Ensure padding is added to center the canvas */
    padding: 1rem;
}