



.map_background {
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    

    transform-origin: center;
    user-select: none; /* Prevents text selection during drag */
}


