.minimap_container{
    position: fixed;
    left: 10px;
    bottom: 10px;


    
    outline: 2px solid rgba(0, 0, 0, 0.288);

    background-repeat: no-repeat;

    background-blend-mode: darken;
    

}

.minimap_image{
    max-width: 20vw;
    max-height: 20vh;
    object-fit: contain;
}