.navigation_container{
    position: fixed;
    left: 5vw;
    bottom: 7vh;


}



.minimap_image{
    max-width: 25vw;
    max-height: 25vh;
    object-fit: contain;
    outline: 0.2vw solid rgba(0, 0, 0, 0.2);

}


.navigation_button_set{

    display: flex;
    flex-direction: column;

    position: fixed;
    padding: 1vw;

    
    
    background-color: rgb(84, 84, 84);
    left: 0.6vw;
    bottom: 7vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}






.minimap_button {
    border: none;
    background: none;

    width: 2vw;
    height: 2vw;

    margin-block: 1vw;
    
    background-color: rgba(7, 7, 7, 0.87);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}




.navigation_waypoint{
    fill: #ffec17;
}
.secondary_waypoint{
    fill: #2ee31e;
}
.start_waypoint{
    fill: #33b9ea;
}
.target_waypoint{
    fill: #ae3232;
}

