




.misc_button_set{
    display: flex;
    position: fixed;
    left: 4vw;
    bottom: 4vh;
    padding-block: 0.7vw;


    background: var(--background_1);

    box-shadow: var(--boxShadow_1);
    backdrop-filter: blur(var(--blur_factor));
    -webkit-backdrop-filter: blur(var(--blur_factor));
    opacity: 0.9;
    transition: opacity 0.3s ease;

    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 0 2vw 2vw 0;
    z-index: 3;
}
.misc_button_set:hover{
    opacity: 1;
}

.option_button{
    border: none;

    margin-inline: 0.8vw;
    width: 2vw;
    height: 2vw;


    
    background-color: var(--button_background);
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.option_button:hover{
    opacity: 1;
}


.info_fill{
    fill: rgb(5, 120, 208);
}
.map_upload_fill{
    fill: #ae3232;
}
.folder_fill{
    fill:rgb(243, 210, 0);
}
.download_fill{
    fill: rgb(0, 94, 209);
}
.clear_fill{
    fill: rgb(236, 243, 250);
}






@media (max-width: 700px){
    .option_button{
        width: 5vw;
        height: 5vw;
        margin-inline: 1.2vw;
    }

    .misc_button_set{
        left: 7vw;
    }

}