.navigation_container{
    position: fixed;
    left: 4.5vw;
    bottom: 11vh;

    z-index: 3;

}



.minimap_image{
    max-width: 25vw;
    max-height: 25vh;
    object-fit: contain;
    outline: 0.2vw solid rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    transition: opacity 0.3s ease;
    user-select: none; /*prevents the minimap from being selected, which then gives it a blue tint...*/
}
.minimap_image:hover{
    opacity: 1;
}


.map_minimap_waypoint_button{
    border: none;


    background-color: rgba(7, 7, 7, 0.95);
    border-radius: 15%;
    cursor: pointer;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: opacity 0.2s ease;


}

