.minimap_container{
    position: relative;
    position: fixed;
    left: 1%;
    bottom:3%;
    display: flex;
    z-index: 4;
}


.navigation_container{
    position: absolute;
    left: 4vw;
    bottom: 4vw;
    
    opacity: 0.8;
    transition: opacity 0.3s ease;

    background-image: url(/Henning_tab_logo.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size:30%;
    background-color: var(--logo_yellow);

}
.navigation_container:hover{
    opacity: 1;
}


.minimap_image{
    max-width: 26vw;
    max-height: 26vh;
    object-fit: contain;
    outline: 0.2vw solid rgba(0, 0, 0, 0.2);
    user-select: none; /*prevents the minimap from being selected, which then gives it a blue tint...*/
}

.minimap_target {
    position: absolute;
    z-index: 3;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button_background);
    border-radius: 10%;
    opacity: 0.9;
    transform: rotate(45deg);
    overflow: hidden;
}

.minimap_target svg {
    transform: rotate(-45deg);
}

.map_minimap_waypoint_button{
    border: none;


    background-color: rgba(7, 7, 7, 0.95);
    border-radius: 15%;
    cursor: pointer;

    
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    z-index: 3;
}

.navigation_container:hover .map_minimap_waypoint_button {
    opacity: 1;
}




.waypoint_id_minimap{
    position: absolute;
    font-size: 0.75vw;
  text-shadow:
    0.053vw 0.053vw 0 #1d1d1da9,
    -0.053vw 0.053vw 0 #1d1d1da9,
    -0.053vw -0.053vw 0 #1d1d1da9,
    0.053vw -0.053vw 0 #1d1d1da9;
}


.waypoint_lines_minimap_overlay {
    pointer-events: none;
    overflow: visible;
    z-index: 0;
}

.minimap_lines {
  stroke-width: 0.15vw;
  stroke-opacity: 0.8;
}










@media (max-width: 900px){

    
    
    .map_minimap_waypoint_button{
        opacity: 1;
    }
    .navigation_container{
        opacity: 1;
    }


}