:root {
    --logo_yellow: #ffc90e;
    --logo_black: #1d1d1d;
    --logo_white: #fdfdfd;


    --background_1: rgba(38, 38, 38, 0.76);
    --boxShadow_1: 0 4px 30px rgba(0, 0, 0, 0.1);
    --blur_factor: 3px;
    --button_background: rgba(7, 7, 7, 0.87);

    --waypoint_extraction: #2ee31e;
    --waypoint_extraction_id_color: #59e34cd4;

    --waypoint_start: #33b9ea;
    --waypoint_start_id_color: #7ac4dfde;

    --waypoint_target:#ae3232;
    --waypoint_target_id_color:#d76565d7;

    --waypoint_navigation: #ffc90e;
    --waypoint_navigation_id_color: #ebc84cd0;

    --red_target:rgb(255, 0, 0);
    --blue_target:rgb(28, 85, 230);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
    color: var(--logo_white);
}



img {
    display: block;
}
button{
    background-color: transparent;
    border: none;

}
input, button, select, textarea {
    font: inherit;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.extraction_fill{
    fill: var(--waypoint_extraction);
}
.extraction_color{
    color: var(--waypoint_extraction_id_color);
}

.navigation_fill{
    fill: var(--waypoint_navigation);
}
.navigation_color{
    color: var(--waypoint_navigation_id_color);
}



.target_fill{
    fill: var(--waypoint_target);
}
.target_color{
    color: var(--waypoint_target_id_color);
}


.start_fill{
    fill: var(--waypoint_start);
}
.start_color{
    color: var(--waypoint_start_id_color);
}

